div  a {
    float:left;
}

div  h4 {
    float: right;
    margin-top: 0;
}

h1,p{
    text-align: center;
    flex: 1;
    flex-basis: 100%;
}

li{
    background: blue;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 5px;
    list-style: none;
    display: flex;
}

li button{
    flex-grow: 1;
    text-align: left;
    background: blue;
    color: white;
    border: none;
}

li:hover, li button:hover{
    background: green;
}

hr{
    width: 100%;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    flex: 1;
    flex-basis: 100%;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    margin: auto;
}

.main-content ol{
    padding: 0;
    list-style-position: inside;
}

.rightWrong{
    max-width: 640px;
    margin: auto;
}

p:last-child{
    text-align: left;
    margin: 0;
    font-style: italic;
}